@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-base;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-base;
  }

  p {
    @apply text-base;
  }

  #carousel-left {
    outline: none;
  }

  #carousel-right {
    outline: none;
  }

 .swiper img {
  width: 100%;
  object-fit: contain;
 }



  .image-overlay {
    width: 94%;
    height: 22rem;
  }

  .footer-background {
    background-color: #f7f7f7;
  }

  .submit-button-color {
    background-color: #2366CC;
  }

  #dataTable img {
    width: 300px !important;
  }

  .dd-item {
    min-width: 300px !important;
    max-width: 300px !important;
  }

  .img_icon {
    background-size: contain;
    width: 250px !important;
    height: 250px !important;
  }